<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://images.unsplash.com/photo-1479762937580-3b682a10a0d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80' %>)">
  <div class="container">
    <h1> <%= @list.name %></h1>
  </div>
</div>
<div class="container mt-4">
  <div class="d-flex">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card me-3 mb-5" style="width: 18rem;">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="movie poster">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h2> <%= bookmark.movie.title %></h2>
            </div>
            <div>
              <p class="card-text"><%= bookmark.movie.rating %>
                <i class="fa-solid fa-star" style="color: #FFEA20;"></i>
              </p>
            </div>
          </div>
          <p class="card-text"><%= bookmark.movie.overview %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to lists_path, class: 'btn btn-primary' do %>
    <i class="fa-solid fa-igloo text-white"></i>
  <% end %>
  <%= link_to "Add a new movie 📖", new_list_bookmark_path(@list), class: "btn btn-primary text-white" %>
</div>
